{% extends './base.jinja2' %}
{% from 'bootstrap5/form.html' import render_field %}
{% from 'bootstrap5/form.html' import render_hidden_errors %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='auth.css') }}">
{% endblock %}

{% block header %}
<h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}
{% block content %}

<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
        <br>
    </div>
    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-0 me-3">Sign in with</p>
            <a href="{{ url_for('auth.github.oauth') }}" class="btn btn-primary btn-floating mx-1" >
              <i class="bi bi-github"></i>
            </a>

            <a href="{{ url_for('auth.google.oauth') }}" class="btn btn-primary btn-floating mx-1">
              <i class="bi bi-google"></i>
            </a>
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Or</p>
          </div>
          <form action="{{ url_for('auth.passwd.check_credentials') }}" method="post" class="form" role="form">
            {{ render_hidden_errors(form) }}
            {{ form.csrf_token() }}
            {{ render_field(form.username) }}
            {{ render_field(form.password) }}
            <div class="d-flex justify-content-between align-items-ce">
                {{ render_field(form.remember_me) }}
                <a class="text-body" href="{{ url_for('auth.passwd.forgot') }}">Forgot Password?</a>
            </div>
            <div class="text-center text-lg-start mt-4 pt-2"> 
            {{ render_field(form.submit_button) }}
            </div>
        </form>

    </div>
    <div class="divider d-flex align-items-center my-4">
        <p class="text-center fw-bold mx-3 mb-0">Or</p>
    </div>
    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <p>Don't have an account? <a href="{{ url_for('auth.passwd.register') }}">Register</a></p>
    </div>
    </div>
  </div>
</section>
{% endblock %}
