{% extends 'base.jinja2' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block header %}
<h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
{{ render_form(form) }}

<p>Already have an account? <a href="{{ url_for('auth.login') }}">Login</a></p>

{% endblock %}