{% extends 'base.jinja2' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block header %}
<h1>{% block title %}Edit{% endblock %}</h1>
{% endblock %}

{% block content %}
{{ render_form(form, action=url_for('movies.reviews.update', movie_id=movie_id, review_id=review_id)) }}

{% endblock %}